<!DOCTYPE html>
<html>
	<head>
		<title>classic game reviews.com - Home</title>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		
		<link rel="stylesheet" type="text/css" href="http://cdn2.editmysite.com/css/sites.css?buildTime=1234" />
<link rel="stylesheet" type="text/css" href="http://cdn1.editmysite.com/editor/libraries/fancybox/fancybox.css?1234" />
<link rel="stylesheet" type="text/css" href="files/main_style.css?1440594357" title="wsite-theme-css" />

<style type='text/css'>
.wsite-elements.wsite-not-footer div.paragraph, .wsite-elements.wsite-not-footer p, .wsite-elements.wsite-not-footer .product-block .product-title, .wsite-elements.wsite-not-footer .product-description, .wsite-elements.wsite-not-footer .wsite-form-field label, .wsite-elements.wsite-not-footer .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
#wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
.wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label{}
.wsite-elements.wsite-not-footer h2, .wsite-elements.wsite-not-footer .product-long .product-title, .wsite-elements.wsite-not-footer .product-large .product-title, .wsite-elements.wsite-not-footer .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
#wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
.wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title{}
#wsite-title {}
.wsite-menu-default a {}
.wsite-menu a {}
.wsite-image div, .wsite-caption {}
.galleryCaptionInnerText {}
.fancybox-title {}
.wslide-caption-text {}
.wsite-phone {}
.wsite-headline {}
.wsite-headline-paragraph {}
.wsite-button-inner {}
.wsite-not-footer blockquote {}
.wsite-footer blockquote {}
.blog-header h2 a {}
#wsite-content h2.wsite-product-title {}
.wsite-product .wsite-product-price a {}
</style>

		<script><!--
var STATIC_BASE = '//cdn1.editmysite.com/';
var STYLE_PREFIX = 'wsite';
//-->
</script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>

<script src="http://cdn2.editmysite.com/js/site/main.js?buildTime=1234"></script><script type="text/javascript">_W.configDomain = "www.weebly.com";</script><script type="text/javascript" src="http://cdn2.editmysite.com/js/lang/en/ftl.js?buildTime=1234"></script><script>_W.relinquish && _W.relinquish()</script>
<script> _W.themeOptions = [];</script><script type="text/javascript"><!--
	var IS_ARCHIVE = 1;
	
	(function(jQuery){
		function initFlyouts(){
			initPublishedFlyoutMenus(
				[{"id":"122121513229767","title":"Home","url":"index.html","target":""},{"id":"40429684","title":"Reviews","url":"reviews.html","target":""},{"id":"77807270","title":"play tower defence","url":"play-tower-defence.html","target":""},{"id":"93570756","title":"play smashing","url":"play-smashing.html","target":""},{"id":"97595521","title":"play crosswords","url":"play-crosswords.html","target":""},{"id":"17925930","title":"heyzap games","url":"heyzap-games.html","target":""}],
				"122121513229767",
				"<li class=\"wsite-menu-item-wrap\"><a href=\"#\"class=\"wsite-menu-item\">{{title}}<\/a><\/li>",
				'active',
				false,
				{"navigation\/flyout\/list":"{{!\n\tNOTES:\n\t- \"wsite-menu-wrap\" required on submenu wrapper\n\t- \"wsite-menu\" required on submenu element\n}}\n\n<div class=\"wsite-menu-wrap\" style=\"display:none\">\n\t<ul class=\"wsite-menu\">\n\t\t{{#children}}{{> navigation\/flyout\/item}}{{\/children}}\n\t<\/ul>\n<\/div>\n","navigation\/flyout\/item":"{{!\n\tNOTES:\n\t- an id and \"wsite-menu-subitem-wrap\" class are required on the item wrap\n\t- a \"wsite-menu-subitem\" class is required on the item link\n}}\n\n<li {{#id}}id=\"{{id}}\"{{\/id}}\n\tclass=\"wsite-menu-subitem-wrap {{#is_current}}wsite-nav-current{{\/is_current}}\"\n\t>\n\t<a href=\"{{url}}\"\n\t\t{{#target}}target=\"{{target}}\"{{\/target}}\n\t\tclass=\"wsite-menu-subitem\"\n\t\t>\n\t\t<span class=\"wsite-menu-title\">\n\t\t\t{{{title_html}}}\n\t\t<\/span>{{#has_children}}<span class=\"wsite-menu-arrow\">&gt;<\/span>{{\/has_children}}\n\t<\/a>\n\t{{#has_children}}{{> navigation\/flyout\/list}}{{\/has_children}}\n<\/li>\n"},
				{}
			)
		}
		if (jQuery) {
			jQuery(document).ready(function() { jQuery(initFlyouts); });
		}else{
			if (Prototype.Browser.IE) window.onload = initFlyouts;
			else document.observe('dom:loaded', initFlyouts);
		}
	})(window._W && _W.jQuery)
//-->
</script>
		
	</head>
	<body class="wsite-theme-light no-header-page  wsite-page-index"><div id="container">
	<table id="header">
		<tr>
			<td id="logo">
				<div id="title">
					<div id="title-r">
						<div id="title-m">
							<span class="wsite-logo">

	<a href="">
	
	<span id="wsite-title">classic game reviews.com</span>
	
	</a>

</span>
						</div>
					</div>
				</div>
			</td>
			<td id="header-right">
				<table>
					<tr>
						<td class="phone-number"></td>
						<td class="social"></td>
					</tr>
				</table>
				<div class="search"></div>
			</td>
		</tr>
	</table>
	<div id="main">
		<div id="main-bot">
			<div id="main-in">
				<div id="banner">
					<div class="wsite-header"></div>
					<em id="tl"></em>
					<em id="tr"></em>
					<em id="bl"></em>
					<em id="br"></em>
				</div>
				<div id="navigation">
					<div id="nav-bot">
						<div id="nav-in">
							
							<ul class="wsite-menu-default">
									
									<li id="active"
										class="wsite-menu-item-wrap"
										>
										<a href="index.html"
											
											class="wsite-menu-item"
											>
											Home
										</a>
										
									</li>
									
									<li id="pg40429684"
										class="wsite-menu-item-wrap"
										>
										<a href="reviews.html"
											
											class="wsite-menu-item"
											>
											Reviews
										</a>
										
									</li>
									
									<li id="pg77807270"
										class="wsite-menu-item-wrap"
										>
										<a href="play-tower-defence.html"
											
											class="wsite-menu-item"
											>
											play tower defence
										</a>
										
									</li>
									
									<li id="pg93570756"
										class="wsite-menu-item-wrap"
										>
										<a href="play-smashing.html"
											
											class="wsite-menu-item"
											>
											play smashing
										</a>
										
									</li>
									
									<li id="pg97595521"
										class="wsite-menu-item-wrap"
										>
										<a href="play-crosswords.html"
											
											class="wsite-menu-item"
											>
											play crosswords
										</a>
										
									</li>
									
									<li id="pg17925930"
										class="wsite-menu-item-wrap"
										>
										<a href="heyzap-games.html"
											
											class="wsite-menu-item"
											>
											heyzap games
										</a>
										
									</li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div id="content">
					<div id='wsite-content' class='wsite-elements wsite-not-footer'>
<div><div style="text-align: center;"><a><img src="uploads/2/6/6/8/2668693/9942752.jpg?245x245" style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px; margin-right: 10px; border: 1px solid black;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px;"></div></div></div>

<h2 style="text-align:left;"><br /></h2>
<span style="float:left;z-index:10;"><span class="imgPusher" style="top:px"></span><a><img src="uploads/2/6/6/8/2668693/1115845.jpg?388" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border: 1px solid black;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">retro nes system<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr></div>

					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div id="footer-wrap">
		<div id="footer">
			<div id="footer-bot">
				<div id="footer-in">
					Create a <a target="_top" href="http://www.weebly.com/">free web site</a> with <a target="_top" href="http://www.weebly.com/" title="free web site">Weebly</a>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>

		
		
	</body>
</html>
