<!DOCTYPE html>
<html>
	<head>
		<title>Reviews - classic game reviews.com</title>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		
		<link rel="stylesheet" type="text/css" href="http://cdn2.editmysite.com/css/sites.css?buildTime=1234" />
<link rel="stylesheet" type="text/css" href="http://cdn1.editmysite.com/editor/libraries/fancybox/fancybox.css?1234" />
<link rel="stylesheet" type="text/css" href="files/main_style.css?1440594357" title="wsite-theme-css" />

<style type='text/css'>
.wsite-elements.wsite-not-footer div.paragraph, .wsite-elements.wsite-not-footer p, .wsite-elements.wsite-not-footer .product-block .product-title, .wsite-elements.wsite-not-footer .product-description, .wsite-elements.wsite-not-footer .wsite-form-field label, .wsite-elements.wsite-not-footer .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
#wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
.wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label{}
.wsite-elements.wsite-not-footer h2, .wsite-elements.wsite-not-footer .product-long .product-title, .wsite-elements.wsite-not-footer .product-large .product-title, .wsite-elements.wsite-not-footer .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
#wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
.wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title{}
#wsite-title {}
.wsite-menu-default a {}
.wsite-menu a {}
.wsite-image div, .wsite-caption {}
.galleryCaptionInnerText {}
.fancybox-title {}
.wslide-caption-text {}
.wsite-phone {}
.wsite-headline {}
.wsite-headline-paragraph {}
.wsite-button-inner {}
.wsite-not-footer blockquote {}
.wsite-footer blockquote {}
.blog-header h2 a {}
#wsite-content h2.wsite-product-title {}
.wsite-product .wsite-product-price a {}
</style>

		<script><!--
var STATIC_BASE = '//cdn1.editmysite.com/';
var STYLE_PREFIX = 'wsite';
//-->
</script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>

<script src="http://cdn2.editmysite.com/js/site/main.js?buildTime=1234"></script><script type="text/javascript">_W.configDomain = "www.weebly.com";</script><script type="text/javascript" src="http://cdn2.editmysite.com/js/lang/en/ftl.js?buildTime=1234"></script><script>_W.relinquish && _W.relinquish()</script>
<script> _W.themeOptions = [];</script><script type="text/javascript"><!--
	var IS_ARCHIVE = 1;
	
	(function(jQuery){
		function initFlyouts(){
			initPublishedFlyoutMenus(
				[{"id":"122121513229767","title":"Home","url":"index.html","target":""},{"id":"40429684","title":"Reviews","url":"reviews.html","target":""},{"id":"77807270","title":"play tower defence","url":"play-tower-defence.html","target":""},{"id":"93570756","title":"play smashing","url":"play-smashing.html","target":""},{"id":"97595521","title":"play crosswords","url":"play-crosswords.html","target":""},{"id":"17925930","title":"heyzap games","url":"heyzap-games.html","target":""}],
				"40429684",
				"<li class=\"wsite-menu-item-wrap\"><a href=\"#\"class=\"wsite-menu-item\">{{title}}<\/a><\/li>",
				'active',
				false,
				{"navigation\/flyout\/list":"{{!\n\tNOTES:\n\t- \"wsite-menu-wrap\" required on submenu wrapper\n\t- \"wsite-menu\" required on submenu element\n}}\n\n<div class=\"wsite-menu-wrap\" style=\"display:none\">\n\t<ul class=\"wsite-menu\">\n\t\t{{#children}}{{> navigation\/flyout\/item}}{{\/children}}\n\t<\/ul>\n<\/div>\n","navigation\/flyout\/item":"{{!\n\tNOTES:\n\t- an id and \"wsite-menu-subitem-wrap\" class are required on the item wrap\n\t- a \"wsite-menu-subitem\" class is required on the item link\n}}\n\n<li {{#id}}id=\"{{id}}\"{{\/id}}\n\tclass=\"wsite-menu-subitem-wrap {{#is_current}}wsite-nav-current{{\/is_current}}\"\n\t>\n\t<a href=\"{{url}}\"\n\t\t{{#target}}target=\"{{target}}\"{{\/target}}\n\t\tclass=\"wsite-menu-subitem\"\n\t\t>\n\t\t<span class=\"wsite-menu-title\">\n\t\t\t{{{title_html}}}\n\t\t<\/span>{{#has_children}}<span class=\"wsite-menu-arrow\">&gt;<\/span>{{\/has_children}}\n\t<\/a>\n\t{{#has_children}}{{> navigation\/flyout\/list}}{{\/has_children}}\n<\/li>\n"},
				{}
			)
		}
		if (jQuery) {
			jQuery(document).ready(function() { jQuery(initFlyouts); });
		}else{
			if (Prototype.Browser.IE) window.onload = initFlyouts;
			else document.observe('dom:loaded', initFlyouts);
		}
	})(window._W && _W.jQuery)
//-->
</script>
		
	</head>
	<body class="wsite-theme-light no-header-page  wsite-page-reviews"><div id="container">
	<table id="header">
		<tr>
			<td id="logo">
				<div id="title">
					<div id="title-r">
						<div id="title-m">
							<span class="wsite-logo">

	<a href="">
	
	<span id="wsite-title">classic game reviews.com</span>
	
	</a>

</span>
						</div>
					</div>
				</div>
			</td>
			<td id="header-right">
				<table>
					<tr>
						<td class="phone-number"></td>
						<td class="social"></td>
					</tr>
				</table>
				<div class="search"></div>
			</td>
		</tr>
	</table>
	<div id="main">
		<div id="main-bot">
			<div id="main-in">
				<div id="banner">
					<div class="wsite-header"></div>
					<em id="tl"></em>
					<em id="tr"></em>
					<em id="bl"></em>
					<em id="br"></em>
				</div>
				<div id="navigation">
					<div id="nav-bot">
						<div id="nav-in">
							
							<ul class="wsite-menu-default">
									
									<li id="pg122121513229767"
										class="wsite-menu-item-wrap"
										>
										<a href="index.html"
											
											class="wsite-menu-item"
											>
											Home
										</a>
										
									</li>
									
									<li id="active"
										class="wsite-menu-item-wrap"
										>
										<a href="reviews.html"
											
											class="wsite-menu-item"
											>
											Reviews
										</a>
										
									</li>
									
									<li id="pg77807270"
										class="wsite-menu-item-wrap"
										>
										<a href="play-tower-defence.html"
											
											class="wsite-menu-item"
											>
											play tower defence
										</a>
										
									</li>
									
									<li id="pg93570756"
										class="wsite-menu-item-wrap"
										>
										<a href="play-smashing.html"
											
											class="wsite-menu-item"
											>
											play smashing
										</a>
										
									</li>
									
									<li id="pg97595521"
										class="wsite-menu-item-wrap"
										>
										<a href="play-crosswords.html"
											
											class="wsite-menu-item"
											>
											play crosswords
										</a>
										
									</li>
									
									<li id="pg17925930"
										class="wsite-menu-item-wrap"
										>
										<a href="heyzap-games.html"
											
											class="wsite-menu-item"
											>
											heyzap games
										</a>
										
									</li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div id="content">
					<div id='wsite-content' class='wsite-elements wsite-not-footer'>
<h2 style="text-align:left;">Grand Theft Auto III<br /></h2>
<span style="float:left;z-index:10;"><span class="imgPusher" style="top:px"></span><a><img src="uploads/2/6/6/8/2668693/5562281.jpg?86x120" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border: 1px solid black;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">Grand Theft Auto III is a really fun game where you could do whatever you want!!!<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The graphics are ok I would give it a 8 and1/2 out of 10. <br />&nbsp;&nbsp;&nbsp;&nbsp; I would reccomend this to anyone who likes a good shoot em up game and wants to have a game to keep you busy for awhile.<br />THE STORY LINE-is a good exiting one of a man who has to do hitman missions and favors for gangsters all over librity city.<br />You can ride trains, subways,&nbsp; and much more this game should get a 9 outta ten.<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;">Big League Sports<br /></h2>
<span style="float:left;z-index:10;"><span class="imgPusher" style="top:px"></span><a><img src="uploads/2/6/6/8/2668693/226850.jpg?96x136" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border: 1px solid black;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">Big League Sports is a fun game like wii sports or wii play but a bit better.<br />&nbsp;&nbsp;&nbsp; you can play football, hockey, basketball, lacross, tennis, and soccer minigames.<br />i'll be honest and say its not the best game or greatest but if you like sport&nbsp; games this will keep you busy for awhile. this game gets a 8 outta ten.</div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;">Mario strikers charged<br /></h2>
<span style="float:left;z-index:10;"><span class="imgPusher" style="top:px"></span><a><img src="uploads/2/6/6/8/2668693/8696741.jpg?121x167" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border: 1px solid black;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">Good game!! only problem is you start out easy and it gets real hard!!<br />although the toughness its a good game or great game 9 outta 10.<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;">Boom Blox<br /></h2>
<span style="float:left;z-index:10;"><span class="imgPusher" style="top:px"></span><a><img src="uploads/2/6/6/8/2668693/9585867.jpg?101x141" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border: 1px solid black;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">this a good game you can do the story or make your own level good game!<br>9 and 1/2 outta 10<br></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;">Wii Play<br /></h2>
<span style="float:left;z-index:10;"><span class="imgPusher" style="top:px"></span><a><img src="uploads/2/6/6/8/2668693/4550411.jpg?102x142" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border: 1px solid black;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">You might already know this game when you got your wii but i would like to say its really fun and a nice game for the family i won't rate this game so ill let you decide!<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;">Little league World Series 2008<br /></h2>
<span style="float:left;z-index:10;"><span class="imgPusher" style="top:px"></span><a><img src="uploads/2/6/6/8/2668693/1158996.jpg?105x147" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border: 1px solid black;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">this is a pretty good game, not the best... like its a good just you play it so much, you get frustrated cause you were trying to throw the ball to first but accidentally throws it to third,.<br />sorry but ill have to give it a 7 and 1/2.<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;">Super Smash Bros. Brawl<br /></h2>
<span style="float:left;z-index:10;"><span class="imgPusher" style="top:px"></span><a><img src="uploads/2/6/6/8/2668693/8456172.jpg?92x129" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border: 1px solid black;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">So what super smash bros. brawl is 2d game its still a fun game. you can do story mode or brawls to face other characters.Theres not much to say I'm telling you this is the best 2d game i ever played you should get it.<br />I give it a 10 for a great 2d game!!<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;">Call of Duty 5 World at War<br /></h2>
<span style="float:left;z-index:10;"><span class="imgPusher" style="top:px"></span><a><img src="uploads/2/6/6/8/2668693/6014533.jpg?98x136" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border: 1px solid black;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">Call of Duty 5 is a great game with great graphics. It just dosn't have nazi zombies. the games campaign is fun and it has online mode.<br />it should get a 9 1/2 outta ten<br />&nbsp;<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;">My Sims<br /></h2>
<span style="float:left;z-index:10;"><span class="imgPusher" style="top:px"></span><a><img src="uploads/2/6/6/8/2668693/1155693.jpeg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border: 1px solid black;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">My Sims is a fun adventure game where you get this world that you invite Sims to your town while you find and explore new areas. I had alot of fun with it and still am having fun with it!!!<br />It should get a 10 outta 10 for kids.<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;">Deca sports<br /></h2>
<span style="float:left;z-index:10;"><span class="imgPusher" style="top:px"></span><a><img src="uploads/2/6/6/8/2668693/9727181.jpeg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border: 1px solid black;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">In Deca sports you can play bad mitten, volleyball, dirt biking,basketball, archery, curling, soccer, kart racing, snowboarding, and figure skating. It is a fun game to play with your friends or just yourself!!<br />i would give it a 8.<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;">Lego Batman the videogame<br /></h2>
<span style="float:left;z-index:10;"><span class="imgPusher" style="top:px"></span><a><img src="uploads/2/6/6/8/2668693/4776920.jpg?103x145" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border: 1px solid black;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">Lego Batman is a fun adventure game&nbsp; to play and it has a bunch of cheat codes. you get to drive vehicles like aircrafts, cars, and boats. It has ok graphics like maybe 9 outta 10<br />It should get a 9 outta ten<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;">Star wars Battlefront II<br /></h2>
<span style="float:left;z-index:10;"><span class="imgPusher" style="top:px"></span><a><img src="uploads/2/6/6/8/2668693/5999722.jpg?91x128" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border: 1px solid black;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">Star wars battlefront II is a fun game of star wars warfare and in this you can be a jedi too!!!<br />this game should get a 9 outta 10.<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;">MLB 08 the Show<br /></h2>
<span style="float:left;z-index:10;"><span class="imgPusher" style="top:px"></span><a><img src="uploads/2/6/6/8/2668693/634191.jpg?116x116" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border: 1px solid black;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">MLB 08 the show is a fun baseball game with great graphics. theres not much to say about it because its a casual baseball game.<br />it should get a 10.<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;">Lego Indiana Jones <br /></h2>
<span style="float:left;z-index:10;"><span class="imgPusher" style="top:px"></span><a><img src="uploads/2/6/6/8/2668693/818089.jpg?97x136" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border: 1px solid black;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">This is a good game if your into the lego series or like Indiana Jones movies. its a entertaining game that you can adventure around an will keep you busy for awhile.<br />ill give it a 9&nbsp; <br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;">Wii Music<br /></h2>
<span style="float:left;z-index:10;"><span class="imgPusher" style="top:px"></span><a><img src="uploads/2/6/6/8/2668693/2246550.jpg?106x151" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border: 1px solid black;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">wii music is a fun game were you can express your self using regular intruments and wierd instruments.I reccomend this to people who like music and wanna do it on a game.<br />i give this a 9 outta 10<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;">Air Conflicts Aces of World War 2<br /></h2>
<span style="float:left;z-index:10;"><span class="imgPusher" style="top:px"></span><a><img src="uploads/2/6/6/8/2668693/678461.jpg?86x150" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border: 1px solid black;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">Air Conflicts Aces Of World War 2 is a fun game on the road and home. you can be Germany, America, Russia, and, I forgot if there were any more, so I think if you want a aircraft game were you can bomb peoples houses and shoot planes down like ww2 aces this is the game for you. The graphics and sound are a 10 outta ten.<br />this game should get a ten for a heck of a air combat game!!!!!<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr></div>

					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div id="footer-wrap">
		<div id="footer">
			<div id="footer-bot">
				<div id="footer-in">
					Create a <a target="_top" href="http://www.weebly.com/">free web site</a> with <a target="_top" href="http://www.weebly.com/" title="free web site">Weebly</a>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>

		
		
	</body>
</html>
